# --- Logs & Data ---
logs/
*.log
*.csv
*.json
!credentials.json  # Remove the '!' if you want to ignore credentials

# --- Python virtual environment ---
.venv/

__pycache__/
*.pyc

# --- Parquet and Pickle files ---
data/parquet/
data/parquet/pickle/
data/

# --- Local app secrets ---
.env
.streamlit/secrets.toml
